<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="h-screen flex flex-col bg-gray-200 gap-2 items-center justify-center">
    <div class="p-4 bg-white shadow-lg rounded">


    <div class="p-6 text-xl">Link added Successfully!</div>
    
    <a href="/LINK" class="block mx-auto w-min px-6 mb-6 font-bold text-lg">shortly.deta.dev/LINK</a>
    <div class="flex items-center justify-end gap-2">

    

    <a class="py-1 px-2 bg-teal-600 hover:bg-teal-500 text-white rounded shadow font-bold" href="/">ADD NEW</a>
</div>
</div>
    
</body>
</html>